@import './partials/config';
@import './partials/mobile';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type:none;
    text-decoration: none;
}

.text-disabled {
    color: #A2A9AF;
}

.text-white {
   color: #FFFFFF;
}

.text-black{
    color: #000000;
}

// Flexbox classes
.flexbox-container {
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
}

.align-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

$flexoptions: 12%, 16%, 25%, 33%, 41%, 50%, 58%, 66%, 75%, 83%, 91%, 100%;

@each $item in $flexoptions {

    $index: index($flexoptions, $item);
    
    .flexbox-item-#{$index}{
        flex:1 1 #{$item};
        max-width: 0 0 #{$item};
    }
}

// Margin & padding classes

$spacemounts:(0.25,0.5,1,1.5,3);

@each $space in $spacemounts {

    $i: index($spacemounts, $space);
    
    .m-#{$i}{
        margin: #{$space}rem;
    }
    .my-#{$i}{
        margin: #{$space}rem 0;
    }

    .mx-#{$i}{
        margin: 0 #{$space}rem;
    }

    .mt-#{$i}{
        margin-top: #{$space}rem;
    }

    .mb-#{$i}{
        margin-bottom:#{$space}rem ;
    }

    .ml-#{$i}{
        margin-left:#{$space}rem;
    }

    .mr-#{$i}{
        margin-right:#{$space}rem;
    }

    .p-#{$i}{
        padding: #{$space}rem;
    }

    .py-#{$i}{
        padding: #{$space}rem 0;
    }

    .px-#{$i}{
        padding: 0 #{$space}rem;
    }

    .pt-#{$i}{
        padding-top: #{$space}rem;
    }

    .pb-#{$i}{
        padding-bottom:#{$space}rem;
    }

    .pl-#{$i}{
        padding-left: #{$space}rem;
    }

    .pr-#{$i}{
        padding-right:#{$space}rem;
    }
}

.mx-auto {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.my-auto {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

