@import './partials/config';
@import './partials/mobile';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.flexbox-item-5 {
    width: 190px;
}

.text-disabled {
     color: #A2A9AF;
}

.text-white {
    color: #FFFFFF;
}

// Margin & padding classes

$spacemounts:(1,2,3,4,5);

@each $space in $spacemounts {
    .m-#{$space}{
        margin: #{$space}rem;
    }
    .my-#{$space}{
        margin: #{$space}rem 0;
    }
    .mx-#{$space}{
        margin: 0 #{$space}rem;
    }

    .mt-#{$space}{
        margin: #{$space}rem 0 0 0 0;
    }
    .mb-#{$space}{
        margin: 0 0 #{$space}rem 0;
    }

    .p-#{$space}{
        padding: #{$space}rem;
    }

    .py-#{$space}{
        padding: #{$space}rem 0;
    }

    .px-#{$space}{
        padding: 0 #{$space}rem;
    }

    .pt-#{$space}{
        padding: #{$space}rem 0 0 0;
    }

    .pb-#{$space}{
        padding: 0 0 #{$space}rem 0;
    }
}

