$primary-color: #7572FF;
$text-grey-color: #55595D;
$border-grey-color: #D1D6E0;
$background-white-color: #F6F7FB;
$banner-dark-color: #282338;
$brand-secondary-color: #82F7FF;


$border-radius-sm: 8px;
$border-radius-md: 12px;
$border-radius-lg: 16px;


//Fonts
// Overpass 
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

// @font-face {
//     font-family: "SFProText";
//     src: url('@/fonts/SFProText-Regular.ttf')  format('truetype');
// }